:root {
  --primary-color: #323232;
  --secondary-color: #272727;
  --heading-text: #c0bab2;
  --description: #8d8d8d;
  --swagger-button: #bfbfbf;
  --swagger-execute: #4990e2;
  --url-link: #4990e2;
  --swagger-cancel: #ff6060;
  --argument: #e2a549;
}

body {
  background: var(--primary-color) !important;
}

.topbar {
  background: var(--secondary-color) !important;
  padding: 20px 0 !important;
}

.link img {
  height: 50px;
}

.select-label span {
  font-size: 20px !important;
}

.select-label select {
  border-radius: 50px;
  padding: 5px 10px;
  font-size: 17px;
  border: none !important;
}

.swagger-ui .opblock-body select {
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 15px;
  border: none !important;
}

.swagger-ui .info {
  margin: 30px 0 !important;
  padding: 20px 30px !important;
  background: var(--secondary-color);
  border-radius: 10px;
}

.swagger-ui .info .title {
  color: var(--heading-text);
}

.swagger-ui > div > .wrapper:nth-child(4) {
  margin-top: 30px !important;
}

.block.col-12.block-desktop.col-12-desktop {
  padding: 20px !important;
  background: var(--secondary-color);
  border-radius: 10px;
}

.opblock-tag.no-desc {
  font-size: 30px;
}

.parameters td div {
  color: var(--heading-text) !important;
}

.arrow {
  fill: white;
}

span {
  color: var(--heading-text);
}

.swagger-ui .btn-group {
  gap: 20px;
}

.swagger-ui .model-box-control:focus,
.swagger-ui .models-control:focus,
.swagger-ui .opblock-summary-control:focus {
  outline: none;
}

.swagger-ui .opblock .opblock-section-header {
  background: none !important;
}

.swagger-ui .btn,
.swagger-ui .btn-group .btn:last-child {
  color: var(--swagger-button);
  border-color: var(--swagger-button);
}

.swagger-ui .btn.try-out__btn:hover,
.swagger-ui .btn-group .btn:last-child:hover {
  background: var(--swagger-button);
  color: black;
}

.swagger-ui .btn.execute.opblock-control__btn,
.swagger-ui .btn.btn-clear.opblock-control__btn {
  border-radius: 5px;
}

.swagger-ui .btn.cancel {
  background-color: transparent;
  border-color: var(--swagger-cancel);
  color: var(--swagger-cancel);
  font-family: sans-serif;
}

.swagger-ui .btn.cancel:hover {
  background: var(--swagger-cancel);
  color: #fff;
}

.swagger-ui .btn.execute {
  background: transparent;
  border: 2px solid var(--swagger-execute);
  border-radius: 4px;
  color: var(--swagger-execute);
}

.swagger-ui .btn.execute:hover {
  background: var(--swagger-execute);
  color: #fff;
}

.swagger-ui .opblock .opblock-section-header h4,
.swagger-ui .response-col_status,
.swagger-ui .response-col_description,
.swagger-ui .response-col_links,
.swagger-ui .model-title,
.swagger-ui .opblock-description-wrapper p,
.swagger-ui .tab li,
.swagger-ui .responses-inner h4,
.swagger-ui .responses-inner h5,
.parameters th {
  color: var(--heading-text) !important;
}

.swagger-ui .parameter__name.required span,
.swagger-ui .parameter__name.required:after {
  color: var(--swagger-cancel);
}

.swagger-ui .prop-format {
  color: var(--argument);
}

.swagger-ui .model-toggle:after {
  background: white;
  mask: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path d="M10 6 8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>')
    50% no-repeat;
  mask-size: contain;
}

:root {
  color-scheme: dark;
}

.swagger-ui .info hgroup.main a span {
  color: var(--url-link);
}

.swagger-ui .info > div p {
  color: var(--heading-text);
}

.swagger-ui .markdown p,
.swagger-ui .markdown pre,
.swagger-ui .renderedMarkdown p,
.swagger-ui .renderedMarkdown pre,
.swagger-ui .opblock .opblock-summary-description {
  color: var(--description) !important;
}

.swagger-ui .response-control-media-type__accept-message {
  color: aquamarine;
}

.swagger-ui section.models .model-container {
  background: rgba(0, 0, 0, 0.2) !important;
}

.swagger-ui table.model tbody tr td:first-of-type {
  color: #b0b0b0;
}

.swagger-ui textarea {
  background: #fff !important;
}

.swagger-ui .parameters-col_description input {
  color: #000;
}
